<!DOCTYPE html>
<html>
<head>
    <title>Add Expense</title>
</head>
<body>

<h2>Add Expense</h2>

<form method="POST">
    {% csrf_token %}

    <label>Amount:</label><br>
    <input type="number" name="amount" step="0.01" required><br><br>

    <label>Category:</label><br>
    <select name="category" required>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select><br><br>

    <label>Date:</label><br>
    <input type="date" name="date" required><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>

    <button type="submit">Save Expense</button>
</form>

<br>

<a href="{% url 'dashboard' %}">⬅ Back to Dashboard</a>

</body>
</html>
